@import './variable';
@import './display-drawer.scss';

html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-size: 110%;
}

body {
    user-select: none;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    background: white;
    box-sizing: border-box;
    font-family: $sans;
    // used for debug
    // div{
    //     outline: 1px solid red !important;
    // }
}

.app {
    padding: 30px 15px;
    @media(max-width: 700px){
        padding: 10px 10px;
        padding-bottom: 20px;
    }
    .title-component {
        text-transform: capitalize;
        font-weight: 900;
        margin: 50px 0px 20px 0px;
        font-size: 2rem;
        // color: $gold;
        opacity: 0.2;
        @media(max-width: 700px){
            font-size: 1.8rem;
            text-align: center;
        }
    }
}

@import './component';