.home{
    text-align: left;
    margin: auto;
    font-size: 1.2rem;
    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }
    
    .name-title{
        margin-top: 50px;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Open Sans', 'Sans', 'Helvetica';
        .name {
            margin-bottom: 10px;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 900;
            @media(max-width: 700px){
                font-size: 2.5rem;
            }
        }
    }
    
}