@import '../../styles/variable.scss';

.home{
    text-align: left;
    margin: auto;
    font-size: 1.2rem;
    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }    
}