.timeline-component {
    p{
        // text-transform: capitalize;
        font-size: 1.3rem;
        display: block;
        margin: 0px;
        padding: 8px;
        font-weight: 500;
        &:hover {
            transform: translateX-(10px);
            transition: .1s all ease-in-out;
            b {
                color: white;
                background: black;
                border-radius: 3px;
                display: inline-block;
                font-size: 1.5rem;
                transition: .1 all ease-in-out;
                padding-right: 8px;
                padding-left: 8px;
            }
        }
        .date {
            font-size: 70%;
            font-style: italic;
        }
        b {
            &:hover{
                cursor: pointer;
            }
            &:active{
                opacity: 0.8;
                transform: scale(0.9);
            }
        }
        &.side {
            font-size: 90%;
            opacity: 0.7;
        }
        &.move {
            text-align: right !important;
            opacity: 0.5;
            font-size: 0.85rem;
            font-weight: 500;
            letter-spacing: 1.1px;
            &:hover{
                transform: translateX(0px);
            }
        }
    }
}