.component{
    max-width: 800px;
    background:white;
    
    &>.title{
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 1.6rem;
        font-weight: 900;
    }
        
    .topic{
        position: relative;
        padding: 5px 10px 10px 10px;
        box-shadow: -5px 0px 0px rgba(0,0,0,0.1);
        transition: .2s all ease-in-out;

        .date{
            opacity: 0.7;
            font-size: 0.8rem;
        }
        .exactData{
            font-size: 0.8rem;
            padding-left: 5px;
            display: none;
            font-style: italic;
        }
        &.future:hover{
            .light {
                background: rgba(0,0,0,0.5);
            }
        }
        .light{
            display: none;
            opacity: 0;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            transition: .3s all ease-in-out;
            transition-delay: .3s;
            margin-left: 5px;
        }
        .date-tag{
            display: none;
            position: absolute;
            top: 3px;
            right: 10px;
        }
        
        &:hover, &:active{
            transition: .2s all ease-in-out;
            background:rgba($primary, 0.1);
            box-shadow: -5px 0px 0px -0.01px $primary;
            transform: translate(-5px, 0px) scale(1.01);
            padding-top: 20px;
            padding-bottom: 20px;
            .date-tag{
                display: block;
            }
            .date{
                color: darken($primary, 5%);
            }
            .light {
                background: $primary;
                display: inline-block;
                opacity: 1;
                transition: .3s all ease-in-out;
            }

            &.future{
                .date{
                    color: rgba(0,0,0,0.5);
                }
                background:rgba(0,0,0,0.03);
                box-shadow: -5px 0px 0px -0.01px rgba(0,0,0,0.5);
            }
            .exactData {
                display: inline-block;
            }
        }

        &>.title {
            font-weight: 600;
        }

        .title+.comment {
            padding-left: 5px;
        }

        .resourceTitle{
            margin-top: 5px;
            font-size: 0.8rem;
            opacity: 0.8;
        }

        a.resource{
            display: block;
            margin-top: 5px;
            padding: 10px 15px;
            box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
            background: white;
            color: rgba(0,0,0,0.5);
            text-decoration: none;
            &+.resource{
                margin-top: 8px;
            }
            .title{
                color: rgba(0,0,0,0.7);
            }
            .instructorResource{
                font-size: 0.9rem;
            }

            &:hover{
                text-decoration: none;
                box-shadow: inset 0px 0px 0px 0.8px rgba(0,0,0,0.3);
            }
        }
    }
    
    .lead{
        text-transform: capitalize;
        user-select: none;
        margin-bottom: 10px;
        .learn{
            font-size: 0.7rem;
            background:rgba($primary, 0.1);
            box-shadow: -5px 0px 0px 0px $primary;
            margin: 0px 5px 0px 15px;
            padding: 0px 5px;
            display: inline-block;
            text-transform: uppercase;
        }
        .willLearn{
            text-transform: uppercase;
            font-size: 0.7rem;
            background:rgba(0,0,0,0.03);
            box-shadow: -5px 0px 0px 0px rgba(0,0,0,0.5);
            margin: 0px 5px 0px 10px;
            padding: 0px 5px;
            display: inline-block;
        }
        .smallBtn{
            font-size: 0.6rem;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 0.7px;
            opacity: 0.5;
            box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
            display: inline-block;
            padding: 4px 13px;
            border-radius: 0.2rem;
            display: inline-block;
            margin-top: 5px;
            &+.smallBtn{
                margin-left: 10px;
            }
            &:hover{
                box-shadow: inset 0px 0px 0px 1.5px rgba(0,0,0,0.3);
                opacity: 0.8;
            }

            &:active{
                transform: scale(0.9);
            }
        }
    }
}