.header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 0px 0px 0px 15px;
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
    background: white;
    display: flex;
    flex-direction: row;
    height: 50px;
    z-index: 99;
    user-select: none;

    &.fixed {
        position: fixed;
    }

    .logo{
        width: 180px;
        height: auto;
        line-height: 48px;
        img {
            width: 150px;
        }
    }
    .menu {
        box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.1);
        width: 90%;
        margin: 0px auto;
        overflow-y: hidden;
        overflow-x: auto;
        background: rgba(white, 1);
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        transition: .2s all cubic-bezier(0.075, 0.82, 0.165, 1);
        @media(min-width: 700px){
            justify-content: flex-end;
        }
        a.item {
            display: block;
            height: 100%;
            color: #9D9D9D;
            padding: 10px 15px;
            align-items: center;
            cursor: pointer;
            font-weight: 600;
            height: 100%;
            line-height: 32px;
            text-decoration: none;
            transition: .2s all ease;
            &:active {
                transition: 0s all ease;
                color: $dark;
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
                color: $dark;
            }
            &.active{
                transition: .4s all ease;
                color: $primary;
                box-shadow: inset 0px -2px 0px 0px $primary;
            }
            
        }
        
    }
}

// .menu{
//     width: 80%;
//     box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
//     overflow-x: auto;
//     overflow-y: hidden;
//     background: rgba(white, 0.95);
//     white-space: nowrap;
//     -webkit-overflow-scrolling: touch;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//     align-items: center;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     padding-left: 20px;

//     
// }